<% include ../include/header.ejs %>
<section class="container" id="container">
	<div class="user-reg" id="">
		<div>
			<label for="username">用户姓名</label>
			<input type="text" placeholder="请输入用户姓名" name="username" v-model="username"/>
		</div>
		<div>
			<label for="password">密码</label>
			<input type="password" placeholder="请输入用户密码" name="password" v-model="password"/>
		</div>
		<button id="submit" @click="login">登录</button>
	</div>
</section>
<script src="/javascripts/md5.js"></script>
<script src="/javascripts/login.js"></script>
<% include ../include/footer.ejs %>
